@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Special+Gothic+Expanded+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: "Cabin", sans-serif;
}

h1 {
  text-align: center;
  color: rgb(236, 92, 92);
}

p {
  font-size: 25px;
  margin: 8%;
  text-align: justify;
}

h2 {
  text-align: center;
  margin: 15px auto;
}

ul li {
  font-size: 20px;
  text-align: center;
  margin: 15px 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
}

table {
  width: 50%;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #000;
  border-radius: 15px;
  overflow: hidden;
  margin: 30px auto;
}

th {
  background-color: #f2f2f2;
  font-size: 20px;
}

td img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

tr:last-child td {
  border-bottom: none;
}

h4 {
  text-align: center;
  font-size: 18px;
  margin: 20px auto 10px;
}

a.link {
  display: block;
  color: #0056b3;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  transition: color 0.3s ease;
}

a.link:hover {
  color: #f00808;
}
button  {
  display: block;
  margin: 50px auto 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#mensagem {
  margin-top: 20px;
  font-size: 18px;
  color: green;
  font-weight: bold;
  text-align: center;
}
